<!DOCTYPE html>
<html>
	<head>
		<title>Virgol</title>
		<link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
		<link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		
	</head>
		<body>


			<div class="ui large fixed inverted borderless teal menu">
				<div class="ui container">
					<div class=" item"><i class="medium m icon"></i>Virgol</div>
					<a href="/" class="item">Home</a>
					<div class="right menu">
						<% if(!currentUser ){ %>



							

    					<a href="/login" class="ui item">Login</a>
						<a href="/register" class="ui item">Sign Up</a>
						
						<% } else { %>
								<div class="user_Avatar">
										<img id="avatar" src="<%= currentUser.avatar %>">
										
										<b>  <%= currentUser.username %> </b>
								  </div>
						<% if(currentUser && currentUser.isAdmin){ %>
						
						<% } else { %>

							


							<a href="/editprofile" class="ui item">Edit Profile</a>
							<% } %>
						<a href="/blogs/new" class="item">Create Post</a>
						<a href="/avatar" class="item">Add Avatar</a>
						<a href="/logout" class="ui item">Logout</a>
						
						
    					<% } %>
  					</div>
				</div>
			</div>
		
	
			
<% if(currentUser && currentUser.isAdmin){ %>
			
	<div style="width:30%; margin-top:80px; margin-left:20px " class="ui  vertical menu">
		
		<p class="item">ADMIN PANEL</p>

		 <a href="/showusers"  class="active teal item"> Users List  <div class="ui teal left pointing label">1</div></a>
		 <a href="/showcomments" class="active teal item "> Comments List  <div class="ui teal left pointing label">2</div></a>
		 <a href="/showposts" class="active teal item "> Posts List  <div class="ui teal left pointing label">3</div></a>

	</div>
	<% }  %>